// .wrapper {
//   padding: 0 25px;
//   width: calc(100% - 100px);
//   max-width: 1440px;
//   margin: 0 auto;
// }

@font-face {
    font-family: 'Measure';
    src: local('Measure'), url('../fonts/Measure.woff2') format('woff2'), url('../fonts/Measure.woff') format('woff'), url('../fonts/Measure.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('../fonts/bebas-neue-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('RalewayBold'), url('../fonts/ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Light'), local('RalewayLight'), url('../fonts/ralewaylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


.scroll {
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translate3d(0, 50px, 0);
  }
  
  .scroll.active {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
